{{- $logoPath := .Site.Params.navbar.logo.path | default "images/logo.svg" -}}
{{- $logoLink := .Site.Params.navbar.logo.link | default .Site.Home.RelPermalink -}}
{{- $logoWidth := .Site.Params.navbar.logo.width | default "20" -}}
{{- $logoHeight := .Site.Params.navbar.logo.height | default "20" -}}
{{- $logoDarkPath := .Site.Params.navbar.logo.dark | default $logoPath -}}

{{- $navWidth := "max-w-[90rem]" -}}
{{- with .Site.Params.navbar.width -}}
  {{ if eq . "normal" -}}
    {{ $navWidth = "max-w-screen-xl" -}}
  {{ else if eq . "full" -}}
    {{ $navWidth = "max-w-full" -}}
  {{ end -}}
{{- end -}}
<div>
  <a href="{{ $logoLink | relLangURL }}" class="logo">
    {{ if .Site.Params.logoTitle }}
      {{ .Site.Params.logoTitle | safeHTML }}
    {{ else }}
      <img src="{{ $logoPath | relURL }}" alt="Logo" height="{{ $logoHeight }}" width="{{ $logoWidth }}" class="block dark:hidden" />
    {{ end }}
  </a>
</div>

<nav class="site-navbar {{ $navWidth }}">
  <!-- Logo as the first menu item -->
  <ul id="menu" class="menu">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      <li class="menu-item{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">
        {{ if .HasChildren }}
          <!-- Dropdown navigation MENU -->
          <a class="menu-item-link menu-parent" href="{{ .URL | absLangURL | safeURL }}">{{ .Name }}</a>
          <ul class="submenu">
            {{ range .Children }}
              <li class="submenu-item">
                <a href="{{ .URL | absLangURL | safeURL }}">{{ .Name }}</a>
              </li>
            {{ end }}
          </ul>
        {{ else }}
          <!-- Normal MENU -->
          <a class="menu-item-link" href="{{ .URL | absLangURL | safeURL }}">
            {{ .Name }}
            {{ if hasPrefix .URL "http" }}
              <i class="iconfont">{{ partial "svg/new_window.svg" }}</i>
            {{ end }}
          </a>
        {{ end }}
      </li>
    {{ end }}

    <!-- Language chooser -->
    {{ if and (gt (len .Site.Home.AllTranslations) 1) (.Site.Params.showMenuLanguageChooser | default false) }}
      <li class="menu-item">
        <a class="menu-item-link menu-parent menu-item-lang" href="#">
          <i class="iconfont">{{ partial "svg/globe.svg" }}</i>
          {{ .Site.Language.LanguageName }}
        </a>
        <ul class="submenu">
          {{ range .Site.Home.AllTranslations }}
            {{ if ne ($.Scratch.Get "language") .Language }}
              <li class="submenu-item">
                <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
              </li>
            {{ end }}
          {{ end }}
        </ul>
      </li>
    {{ end }}

    <!-- Google search -->
    {{ if .Site.Params.search.google.enable }}
      <li class="menu-item">
        <a id="openSearch" class="menu-item-link menu-item-search" href="#">
          <i class="iconfont">{{ partial "svg/search.svg" }}</i>
        </a>
      </li>
    {{ end }}
  </ul>
</nav>
